In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Lending Data.xlsx')

In [3]:
#Data Understanding

data.columns

Index(['Name of Lending Institution', 'HQ State', 'Rank', 'TA Ratio1',
       'TBL Ratio1', 'Amount ($1,000)', 'Number ', 'Lender Asset Size',
       'Amount ($1,000).1', 'Number .1', 'Unnamed: 10', 'Amount ($1,000).2',
       'Number .2', 'CC Amount/TA1'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 14 columns):
Name of Lending Institution    96 non-null object
HQ State                       93 non-null object
Rank                           94 non-null object
TA Ratio1                      94 non-null object
TBL Ratio1                     94 non-null object
Amount ($1,000)                94 non-null object
Number                         94 non-null object
Lender Asset Size              94 non-null object
Amount ($1,000).1              94 non-null float64
Number .1                      94 non-null float64
Unnamed: 10                    0 non-null float64
Amount ($1,000).2              94 non-null float64
Number .2                      94 non-null float64
CC Amount/TA1                  94 non-null object
dtypes: float64(5), object(9)
memory usage: 10.7+ KB

In [7]:
data = data.drop(['Lender Asset Size','Unnamed: 10'],axis=1)

In [8]:
data = data.dropna()

In [9]:
import numpy as np

In [11]:
data = data.replace('NR',np.nan)

In [13]:
data = data.dropna()

In [14]:
data.corr()

,Rank,"Amount ($1,000).1",Number .1,"Amount ($1,000).2",Number .2
Rank,1.000000,-0.378378,-0.360916,-0.425851,-0.446111
"Amount ($1,000).1",-0.378378,1.000000,0.931514,0.614758,0.611348
Number .1,-0.360916,0.931514,1.000000,0.413128,0.408228
"Amount ($1,000).2",-0.425851,0.614758,0.413128,1.000000,0.989863
Number .2,-0.446111,0.611348,0.408228,0.989863,1.000000

In [15]:
data.iloc[:,3:7] = data.iloc[:,3:7].astype('float')

C:\Users\smrithkala\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 12 columns):
Name of Lending Institution    88 non-null object
HQ State                       88 non-null object
Rank                           88 non-null float64
TA Ratio1                      88 non-null float64
TBL Ratio1                     88 non-null float64
Amount ($1,000)                88 non-null float64
Number                         88 non-null float64
Amount ($1,000).1              88 non-null float64
Number .1                      88 non-null float64
Amount ($1,000).2              88 non-null float64
Number .2                      88 non-null float64
CC Amount/TA1                  88 non-null object
dtypes: float64(9), object(3)
memory usage: 8.9+ KB

In [17]:
data.columns

Index(['Name of Lending Institution', 'HQ State', 'Rank', 'TA Ratio1',
       'TBL Ratio1', 'Amount ($1,000)', 'Number ', 'Amount ($1,000).1',
       'Number .1', 'Amount ($1,000).2', 'Number .2', 'CC Amount/TA1'],
      dtype='object')

In [19]:
data = data.drop(data.columns[11], axis=1)

data.columns

Index(['Name of Lending Institution', 'HQ State', 'Rank', 'TA Ratio1',
       'TBL Ratio1', 'Amount ($1,000)', 'Number ', 'Amount ($1,000).1',
       'Number .1', 'Amount ($1,000).2', 'Number .2'],
      dtype='object')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 11 columns):
Name of Lending Institution    88 non-null object
HQ State                       88 non-null object
Rank                           88 non-null float64
TA Ratio1                      88 non-null float64
TBL Ratio1                     88 non-null float64
Amount ($1,000)                88 non-null float64
Number                         88 non-null float64
Amount ($1,000).1              88 non-null float64
Number .1                      88 non-null float64
Amount ($1,000).2              88 non-null float64
Number .2                      88 non-null float64
dtypes: float64(9), object(2)
memory usage: 8.2+ KB

In [21]:
#we cannot use alphabetical data in the algorithms

data = data.drop(['Name of Lending Institution','HQ State'], axis=1)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 1 to 88
Data columns (total 9 columns):
Rank                 88 non-null float64
TA Ratio1            88 non-null float64
TBL Ratio1           88 non-null float64
Amount ($1,000)      88 non-null float64
Number               88 non-null float64
Amount ($1,000).1    88 non-null float64
Number .1            88 non-null float64
Amount ($1,000).2    88 non-null float64
Number .2            88 non-null float64
dtypes: float64(9)
memory usage: 6.9 KB

#building model

In [23]:
from sklearn import linear_model

from sklearn.model_selection import train_test_split

In [24]:
y = data.iloc[:,3]

In [25]:
X = data.drop(['Amount ($1,000)'],axis=1)

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [27]:
regr = linear_model.LinearRegression().fit(X_train,y_train)

In [28]:
regr.coef_

array([-7.46975310e-11, -9.07572453e-08,  2.49395107e-09,  1.11521903e-13,
        1.00000000e+00, -1.09356968e-13,  1.00000000e+00,  2.21153824e-13])

In [29]:
regr.intercept_

4.190951585769653e-09

In [30]:
predt = regr.predict(X_test)

In [31]:
regr.score(X_test,y_test)

1.0

In [32]:
from sklearn.metrics import mean_squared_error, r2_score

In [33]:
mean_squared_error(y_test,predt)

3.972538641671359e-17

In [34]:
r2_score(y_test,predt)

1.0