## SRIJITH KALADHARAN DATA SCIENCE PROJECT 

## AMAZON RATINGS & REVIEWS

DESCRIPTION
The dataset provided contains movie reviews given by Amazon customers. Reviews were given between May 1996 and July 2014.
Data Dictionary
-UserID – 4848 customers who provided a rating for each movie
-Movie 1 to Movie 206 – 206 movies for which ratings are provided by 4848 distinct users


Data Considerations
- All the users have not watched all the movies and therefore, all movies are not rated. These missing values are represented by NA.
- Ratings are on a scale of -1 to 10 where -1 is the least rating and 10 is the best.
Analysis Task


Exploratory Data Analysis:
-Which movies have maximum views/ratings?
-What is the average rating for each movie? Define the top 5 movies with the maximum ratings.
-Define the top 5 movies with the least audience.


Recommendation Model: 
-Some of the movies hadn’t been watched and therefore, are not rated by the users. Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm which provides the ratings for each of the users.
-Divide the data into training and test data
-Build a recommendation model on training data
-Make predictions on the test data

## Import Libraries and Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

In [3]:
os.chdir('D:/Pro/02-Artificial-Intelligence-Course/01-DataScienceWithPython/02-Projects/Project-amazonmoviesandtvratings')

In [4]:
amazonData = pd.read_csv('Amazon - Movies and TV Ratings.csv')

## Data Understanding

In [5]:
amazonData.shape

(4848, 207)

In [6]:
amazonData.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [7]:
amazonData.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
amazonData.describe()

,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,Movie10,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
count,1.0,1.0,1.0,2.0,29.000000,1.0,1.0,1.0,1.0,1.0,...,5.000000,2.0,1.0,8.000000,3.000000,6.000000,1.0,8.000000,35.000000,13.000000
mean,5.0,5.0,2.0,5.0,4.103448,4.0,5.0,5.0,5.0,5.0,...,3.800000,5.0,5.0,4.625000,4.333333,4.333333,3.0,4.375000,4.628571,4.923077
std,NaN,NaN,NaN,0.0,1.496301,NaN,NaN,NaN,NaN,NaN,...,1.643168,0.0,NaN,0.517549,1.154701,1.632993,NaN,1.407886,0.910259,0.277350
min,5.0,5.0,2.0,5.0,1.000000,4.0,5.0,5.0,5.0,5.0,...,1.000000,5.0,5.0,4.000000,3.000000,1.000000,3.0,1.000000,1.000000,4.000000
25%,5.0,5.0,2.0,5.0,4.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,4.000000,4.000000,5.000000,3.0,4.750000,5.000000,5.000000
50%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
75%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
max,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000

In [9]:
amazonData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Columns: 207 entries, user_id to Movie206
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

In [10]:
len(amazonData['user_id'].unique())

4848

## Data Understanding Report :

1) There are 4848 rows and 207 columns

2) There are 4848 unique users

------------

In [11]:
ColNullValueCount = amazonData.isna().sum

In [12]:
ColsToSort = list(amazonData.columns)
ColsToSort.pop(0)

'user_id'

----------

## EXPLORATORY DATA ANALYSIS

## Which movies have maximum views/ratings?

In [13]:
movies = amazonData.drop('user_id',axis=1)

movies.count().sort_values(ascending=False).head(10)

Movie127    2313
Movie140     578
Movie16      320
Movie103     272
Movie29      243
Movie91      128
Movie92      101
Movie89       83
Movie158      66
Movie108      54
dtype: int64

## What is the average rating for each movie? 
## Define the top 5 movies with the maximum ratings.

In [14]:
amazonData[ColsToSort].mean().sort_values(ascending=False).head(5)

Movie1      5.0
Movie55     5.0
Movie131    5.0
Movie132    5.0
Movie133    5.0
dtype: float64

In [15]:
avgRatings = amazonData[ColsToSort].mean() 
print("Number of Movies with Average Rating equal to 5.0 : ",avgRatings[avgRatings == 5.0].count())
print("Number of Movies with Average Rating greater than 5.0 : ",avgRatings[avgRatings > 5.0].count())
print("Number of Movies with Average Rating lesser than 5.0 : ",avgRatings[avgRatings < 5.0].count())

Number of Movies with Average Rating equal to 5.0 :  103
Number of Movies with Average Rating greater than 5.0 :  0
Number of Movies with Average Rating lesser than 5.0 :  103

---------------------

## Define the top 5 movies with the least audience

In [16]:
movieCount = movies.count().sort_values(ascending=True)

In [17]:
movieCount.head()

Movie1      1
Movie71     1
Movie145    1
Movie69     1
Movie68     1
dtype: int64

In [18]:
print("The least number of views/audience for a movie is 1")
print("The total number of movies with 1 view/audience is : ", movieCount[movieCount == 1 ].count())

The least number of views/audience for a movie is 1
The total number of movies with 1 view/audience is :  89

---------------------

## Recommendation Model

In [19]:
amazonData.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
mod_data = amazonData.copy()

In [21]:
mod_data.shape

(4848, 207)

In [22]:
mod_data.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [23]:
mod_data = mod_data.fillna(mod_data.mean())

In [24]:
mod_data.isna().sum()

user_id     0
Movie1      0
Movie2      0
Movie3      0
Movie4      0
           ..
Movie202    0
Movie203    0
Movie204    0
Movie205    0
Movie206    0
Length: 207, dtype: int64

-------------

In [25]:
from surprise import Reader, accuracy, Dataset
from surprise.model_selection import train_test_split

In [26]:
melt_movies = mod_data.melt(id_vars = mod_data.columns[0],   \
                           value_vars = mod_data.columns[1:], \
                           var_name = "movie_name",            \
                           value_name = "rating")

In [27]:
melt_movies

               user_id movie_name  rating
0       A3R5OBKS7OM2IR     Movie1     5.0
1        AH3QC2PC1VTGP     Movie1     5.0
2       A3LKP6WPMP9UKX     Movie1     5.0
3        AVIY68KEPQ5ZD     Movie1     5.0
4       A1CV1WROP5KTTW     Movie1     5.0
...                ...        ...     ...
998683  A1IMQ9WMFYKWH5   Movie206     5.0
998684  A1KLIKPUF5E88I   Movie206     5.0
998685   A5HG6WFZLO10D   Movie206     5.0
998686  A3UU690TWXCG1X   Movie206     5.0
998687   AI4J762YI6S06   Movie206     5.0

[998688 rows x 3 columns]

In [28]:
reader = Reader(rating_scale=(-1,10))

data = Dataset.load_from_df(melt_movies,reader=reader)

In [29]:
trainSet, testSet = train_test_split(data, test_size=0.25,random_state=42)

In [30]:
trainSet

-----------

In [31]:
from surprise import SVD

In [32]:
algo = SVD()

In [33]:
algo.fit(trainSet)

In [34]:
predictions = algo.test(testSet)

In [35]:
print(accuracy.rmse(predictions))
print(accuracy.mae(predictions))

RMSE: 0.0848
0.08480815652313428
MAE:  0.0175
0.017540271194996966

-------------

In [36]:
user_id = 'A3R5OBKS7OM2IR'
movie_id = 'Movie1'
r_ui = 5.0

algo.predict(user_id,movie_id,r_ui, verbose=True)

user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.99   {'was_impossible': False}

Prediction(uid='A3R5OBKS7OM2IR', iid='Movie1', r_ui=5.0, est=4.990777281398867, details={'was_impossible': False})

--------------------

In [37]:
from surprise.model_selection import cross_validate

In [ ]:
cross_validate(algo, data, measures=['RMSE','MAE'],cv=3,verbose=True)

------------------

In [ ]:
from surprise.model_selection import GridSearchCV

In [ ]:
param_grid = {'n_epochs':[20,30],
             'lr_all':[0.005,0.01],
             'n_factors':[50,100]}

In [ ]:
gs = GridSearchCV(SVD,param_grid, measures=['rmse','mae'], cv=3)

gs.fit(data)

In [ ]:
gs.best_score