In [1]:
import pandas as pd

In [3]:
import sqlite3

In [4]:
#create sql table

create_table = """
CREATE TABLE student_score
(ID INTEGER, NAME VARCHAR(30), Math REAL,
Science REAL);"""

In [7]:
#execute the sql statement

executeSQL = sqlite3.connect(':memory:')

executeSQL.execute(create_table)

executeSQL.commit()

In [8]:
#prepare a sql query

SQL_query = executeSQL.execute('select * from student_score')

In [9]:
#fetch result from sqlite database

resultset = SQL_query.fetchall()

In [10]:
resultset

[]

In [11]:
#prepare records to be inserted into the SQL table through SQL statement

insertSQL = [(10,'Jack',85,92),
                (29,'Tom',73,89),
                    (65,'Ram',65.5,77),
                        (5,'Steve',55,91)]

In [12]:
#insert records into SQL table through SQL statement

insert_statement = "Insert into student_score values(?,?,?,?)"

executeSQL.executemany(insert_statement,insertSQL)

executeSQL.commit()

In [13]:
#prepare SQL query

SQL_query = executeSQL.execute("select * from student_score")

In [15]:
resultset = SQL_query.fetchall()

In [16]:
resultset

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]

In [19]:
#put the records together into a dataframe

df_student_records = pd.DataFrame(resultset,columns=zip(*SQL_query.description)[0])

TypeError: 'zip' object is not subscriptable